.create-session-form {
  max-width: 80%;
  margin-inline: auto;
}

.session-header {
  max-width: 100%;
}

select {
  max-width: 40%;
  margin-inline: auto;
}

.info-grid {
  display: grid;
}

.time-input {
  max-width: 50%;
  margin-inline: auto;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  text-align: center;
}

.players-input {
  max-width: 50%;
  margin-inline: auto;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  text-align: center;
}

h1 {
  text-align: center;
}

label {
  margin-top: 3px;
}

.whole-form {
  text-align: center;
}

.session-btn {
  margin-top: 10px;
}

.create-session-btn {
  max-width: 30%;
  margin-top: 5%;
}

.create-area {
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  text-align: center;
}

.create-difficulty {
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  text-align: center;
}

.create-description {
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  text-align: center;
}
