.register-body {
  background: linear-gradient(to top left, rgb(89, 65, 225), rgb(96, 87, 142));
  height: 100vh;
}
.form-grid {
  display: flex;
  flex-direction: column;
  max-width: 40%;
  margin-inline: auto;
}
.return-home {
  margin-top: 10%;
  text-align: center;
}
.register-btn-registerpage {
  max-width: 60%;
  margin-top: 7%;
  margin-inline: auto;
}

.return-home:hover {
  color: purple;
  cursor: pointer;
}

.register-header {
  max-width: 100%;
  margin-top: 10%;
}
