.profile-image {
  background-color: royalblue;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-inline: auto;
  margin-top: 10%;
}

.bio-heading {
  margin-top: 20px;
  max-width: 90%;
  margin-inline: auto;
}

.bio-edit {
  min-width: 300px;
  min-height: 150px;
}

.current-bio {
  max-width: 90%;
  margin-inline: auto;
}
.view-profile-btn-grid {
  max-width: 25%;
  display: grid;
  margin-top: 10%;
  margin-inline: auto;
}

.view-profile-home-btn {
  max-width: 100%;
  margin-top: 10px;
}
